@model IEnumerable<GeneralStoreMVC.Models.Customer>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

<p>
    @Html.ActionLink("Add a New Customer", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>
    @foreach (var customer in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(c => customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(c => customer.LastName)
            </td>
            <td>
                @Html.ActionLink("Change", "Edit", new { id = customer.CustomerId }) |
                @Html.ActionLink("More Info", "Details", new { id = customer.CustomerId }) |
                @Html.ActionLink("Remove", "Delete", new { id = customer.CustomerId })
            </td>
        </tr>
    }
</table>
